# fly.toml app configuration file generated for simulation-engine-demo on 2025-11-05T11:14:13-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'ii4938'
primary_region = 'dfw'

[build]

[processes]
web = 'uv run dcs run'

[http_service]
auto_start_machines = true
auto_stop_machines = 'stop'
force_https = true
internal_port = 8080
min_machines_running = 0
processes = ['web']

[[vm]]
cpu_kind = 'shared'
cpus = 1
memory = '1gb'
