app = "{{ app_name }}"
{% if region %}primary_region = "{{ region }}"
{% endif %}[build]
  dockerfile = "{{ docker_dir }}/mongo.fly.dockerfile"

[[mounts]]
  source = "{{ db_volume_name }}"
  destination = "/data/db"

  # automatically extend volume size when usage exceeds 80%
  auto_extend_size_threshold = 80

  # increment volume size by 2GB when auto extending
  auto_extend_size_increment = "2GB"

  # NOTE: There is no set limit on volume size, but be mindful of costs as your database grows!

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "512mb"
