name: Deploy Widget Demo

# Manual trigger only, no extra inputs
on:
  workflow_dispatch: {}

# Manual trigger with inputs
# on:
#   workflow_dispatch:
#     inputs:
#       game:
#         description: "Which game should the widget load?"
#         required: true
#         default: "Explore"
#       port:
#         description: "Port to run the widget on"
#         required: false
#         default: "8080"

jobs:
  deploy:
    name: Deploy demos
    runs-on: ubuntu-latest
    env:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only